[Unit]
Description=capsrvd
After=network-online.target

[Service]
Type=simple
#Restart=always
Restart=on-failure
ExecStart=/usr/bin/capsrvd
User=capsrvd

[Install]
WantedBy=multi-user.target